/* ----VARIAVEIS---- */
:root {
  --trans-color-one: #2c5364;
  --trans-color-two: #203a43;
  --trans-color-three: #0f2027;
  --background: rgb(167, 162, 162);
  --text-color: #6d6d6d;
}

/*-----BASE-----*/
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: var(--background);
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  margin-left: 10px;
}
